#task{
    
    background-color: white;
   
   
      padding-left: 70px;
      border: none;
      border-radius: 0;
      width: 75%;
      padding: 10px;
      float: left;
      font-size: 16px;
    
    
}


  


#addbtn{
  font-size:20px;
  transition: all 1s case-in-out;
  border-radius: 60px;
}

#addbtn:hover{
  background-color: darkslategray;
  transform: scale(1.05);
  border-radius: 60px;
}

#tasks-background{

   text-align: center;
   margin-right: 100px;
   margin-left: 120px;
   border-radius: 10px;
  font-size: 20px;
}
#task-list{
  margin-top: 100px;
}
.h1{
  size: 100px;
}

.li1{
  background-color: rgb(218, 226, 218);
  padding: 10px;
}

.li2{
  background-color: rgb(176, 180, 176);
  padding: 10px;
}
.task-list:hover{
  background-color: rgb(56, 50, 50);
}

    

body {
    font-family: "Lato", sans-serif;
    background-color: rgb(143, 72, 63);
  }
  
  .sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidebar a:hover {
    color: #f1f1f1;
  }
  
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: black;
    color: white;
    padding: 10px 15px;
    border: none;
  }
  
  .openbtn:hover {
    background-color: #444;
  }
  
  #main {
    transition: margin-left .5s;
    padding: 16px;
  }
  
  
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }